<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Toma</h2>
    <p>这里是关于尾巴的一些东西</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>